.bg-dark {
    background-color: #343a40 !important;
}

nav {
    display: block;
}

.sidebar {
    width: 220px !important;
    background-color: #212529;
    min-height: calc(100vh - 56px);
}

ul li a {
    color: #fff;
}

.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

#wrapper {
    display: flex;
}

#wrapper #content-wrapper {
    /* display: flex; */
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
}

#accordionSidebar {
    background: #555555;
    width: 180px;
    color: #fff;
}

#wrapper {
    display: flex;
}